html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Full height for the flex container */
}

h1, h2, h3, p, a, ul {
    margin: 0;
    padding: 0;
} 
    

body {
    background-color: #1C1C1C;
    display: flex;
    flex-direction: column;
}

header {
    flex: 1;
}

main {
    display: flex;
    flex-direction: row;
    flex: 3;
    gap: 40px;
    margin-right: 100px;
    margin-left: 100px;
}

/**Typography**/
h1, h2, h3, p, a {
    font-family: "Inter";
    color: white;
}

h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 80px;
}

h2 {
    font-weight: 500;
    font-size: 20px;
}

#work div h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
}

a {
    font-size: 12px;
}

/**Name**/
#name {
    flex: 1;
}

/**Work**/
#work {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

#work div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#work div ul {
    list-style: none;
    padding: 0;
    margin-top: 2.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100%;
}

#work div ul li {
    background-color: #2E2E2E;
    color: #FFFFFF;
    padding: 10px;
    margin-top: 10px;
    border-radius: 60px;
    text-align: center;
    width: 80px;
    height: 80px;
    display: flex; /* Make li a flex container */
    justify-content: center;
    align-items: center; 
}

#work div ul li.placeholder {
    visibility: hidden;
}

/**Footer**/

footer {
    background-color: #2E2E2E;
    padding: 20px 0px 15px 0px;
}

footer p {
    text-align: center;
    font-size: 14px;
}