body {
    background-color: #D1F0DE;
}

/* Typography */
h1 {
    font-family: "JetBrains Mono", monospace;
    text-transform: uppercase;
    font-size: 50px;
    color: #5B1B1B;
    line-height: 0em;
}

h2 {
    font-family: "JetBrains Mono", monospace;
    text-transform: uppercase;
    font-size: 14px;
    color: #6E8B7A;
}

h3 {
    font-family: "JetBrains Mono", monospace;
    text-transform: uppercase;
    font-size: 30px;
    color: #6E8B7A;
    line-height: 0em;
}

h4 {
    font-family: "JetBrains Mono", monospace;
    text-transform: uppercase;
    font-size: 25px;
    color: #E9704F;
    line-height: 1em;
    margin-bottom: 5px;
}

h5 {
    font-family: "JetBrains Mono", monospace;
    text-transform: uppercase;
    font-size: 20px;
    color: #6E8B7A;
    line-height: 2.0em;
}

h6 {
    font-family: "JetBrains Mono", monospace;
    text-transform: uppercase;
    font-size: 10px;
    color: #E9704F;
    line-height: 1em;
}


p {
    font-family: "JetBrains Mono", monospace;
    font-size: 14px;
    color: #5B1B1B;
    line-height: 1.5em;
}

i {
    font-family: "JetBrains Mono", monospace;
    color: #FFFCF3;
    font-size: 18px;
}

#turntext {
    display: none;
}

#switch {
    position: absolute;
    top: 400px;
    right: 570px;
}

#win {
    position: absolute;
    top: 400px;
    right: 590px;
}

#snake {
    position: absolute;
    top: 400px;
    right: 650px;
}

/* Buttons */
#newgame {
    z-index: 50;
    position: absolute;
    top: 450px;
    right: 600px;
    background-color: #E9704F;
    border: none;
    border-radius: 10px;
    font-family: "JetBrains Mono", monospace;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFFCF3;
    padding: 10px 20px;
}


#buttons {
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
}

#leftBtns {
    display: flex;
    flex-direction: column;
    gap: 5px
}

#quit, #help, .sound, .nosound {
    display: flex;
    gap: 4px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #AFD6C0;
    border: none;
    border-radius: 5px;
    font-family: "JetBrains Mono", monospace;
    font-size: 8px;
    color: #FFFCF3;
    padding: 5px;
    height: 50px;
    width: 50px;
}
.sound {
    display: flex;
}

.nosound {
    display: none;
}

#roll {
    background-color: #E9704F;
    border: none;
    border-radius: 10px;
}

/* Title */
#title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header */
header {
    background-color: #D6DED9;
    height: 80px;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 6px dashed #9BABA2;
}

/* Slider */
#slider {
    display: flex;
    padding: 25px 0px;
    position: relative; 
    height: 50px;
    transition: all 60s linear;
}

#slider div img {
    height: 50px;
    display: block;
    margin-right: 20px;
}

.a, .b {
   display: flex;
   height: 100%;
}

@keyframes moveSlider {
    from { left: 0; }
    to { left: var(--sliderwidth) }
}
.animate {
    animation-name: moveSlider;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* Start */
#gamecontrol {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

#startgame {
    background-color: #E9704F;
    border: none;
    border-radius: 10px;
    padding: 10px 80px;
    font-family: "JetBrains Mono", monospace;
    font-size: 20px;
    font-weight: 500;
    color: #FFFCF3;
    text-transform: uppercase;
}

/* Game Functions */

#setUp {
    display: block;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 30%;
}

#game {
    display: block;
    margin: auto;
}

#rollinst {
    position: absolute;
    top: 325px;
    right: 585px;
    text-align: center;
}

#roll {
    position: absolute;
    top: 400px;
    right: 610px;
    background-color: #E9704F;
    border: none;
    border-radius: 10px;
    padding: 10px 80px;
    font-family: "JetBrains Mono", monospace;
    font-size: 20px;
    font-weight: 500;
    color: #FFFCF3;
    text-transform: uppercase;
}

#dicecell {
    display: flex;
    margin: 0 auto 10px auto;
    align-items: center;
    justify-content: center;
    background-color: #BDE2CD;
    padding: 15px;
    gap: 10px;
    border-radius: 10px;
    width: fit-content;
}

img {
    height: 100px;
    width: auto;
}

#playoptions {
    margin: auto;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#rollagain {
    background-color: #E9704F;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    font-family: "JetBrains Mono", monospace;
    font-size: 20px;
    font-weight: 500;
    color: #FFFCF3;
    text-transform: uppercase;
}

#pass {
    background-color: #E9704F;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    font-family: "JetBrains Mono", monospace;
    font-size: 20px;
    font-weight: 500;
    color: #FFFCF3;
    text-transform: uppercase;
}

/* scores */
#scores {
    position: absolute;
    top: 200px;
    right: 225px;
    display: flex;
    gap: 800px;
    align-items: baseline;
    justify-content: center;
    z-index: -10;
}

#player1, #player2 {
    display: flex;
    flex-direction: column;
    margin: auto; 
    text-align: center; 
    height: 100%;
}

#player1 div, #player2 div {
    display: none;
    flex-direction: column;
    align-items: center; 
}

#player1 div img, #player2 div img {
    height: 15px;
    width: auto;
    max-width: 100%; 
    object-fit: contain; 
    flex-shrink: 0; 
    animation: bounce 1s infinite ease-in-out;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); 
    }
}

/* footer */
#diners {
    position: absolute;
    bottom: 15px;
    left: 12.5vw;
    display: flex;
    align-items: flex-end;
    justify-content: center; 
    gap: 10px; 
}

.seat {
    align-self: flex-end;
    max-width: 100%; 
    height: 350px;
}

.table {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    display: block;
    max-width: 100%; 
    height: 200px;
}

.tablep1 {
    display: none;
    max-width: 100%; 
    height: 200px;
}

.tablep2 {
    display: none;
    max-width: 100%; 
    height: 200px;
}

#floor {
    position: absolute;
    height: 100px;
    bottom: 0;
    left: 0px;
    z-index: -1;
    align-items: flex-end; /* Align everything to the bottom */
    justify-content: center; /* Center the items */
}